/* global.css */

/* Set box-sizing to border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Apply the Lexend font globally */
body {
  font-family: "Inter", sans-serif;
}

:root {
  --radius: 8px; /* Default border radius */
}
